body, html {
    height: 100%;
    margin: 0px;


  }
  
  .bg {
    /* The image used */
    background-image: url("../images/Cadence-Tucson-AZ-cactus-downtown-Tucson-skyline.jpg");
  
    /* background-color: blue; */
    /* Full height */
    height: 100%; 
    min-height: 900px;
    max-height: 1000px;
    width: auto;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    
  }

  .header{

    text-align: center;
    background-color:rgba(226, 136, 17, 0.8);
    /* padding-bottom: 1px; */
    /* padding-top: 1px; */
    color: blue;
    -webkit-text-stroke: 1px black;
    font-size: 24pt;
    font-family: 'Permanent Marker', cursive;
    position: relative;
    /* min-width: 800px; */


   
  }

  #az-flag-img{
    position: absolute;
  
    left: 10px;
    top:7px;
  
  


  }

#jQueryDiv {


  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 20%;
  text-align: center;
  height: 40%;
  min-height: 300px;
  color:white;
  font-weight: bold;
  /* -webkit-text-stroke: 1px white; */
  /* border: solid 2px black; */
  
  /* background-color:rgba(17, 68, 83, 0.63); */
  /* background-color:rgba(24, 160, 194, 0.9); */
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#startButton{

  margin-top: 30px;
  height: 30px;
  width: 100px;
  font-size: 16pt;
  background-color: lightgray;

}

form{
text-align: left;
padding-left: 40px;
font-size: 16pt;

}

div {
  word-wrap: break-word;
}

* {
  box-sizing: border-box;
}

h1{
margin-top: 0px;

}
#timer{

  Position: absolute;
  right: 3%;
  top:10px;
color: white;
font-size: 18pt;
text-shadow: 1px 1px black;
}


@media screen and (max-width: 900px) {

#timer{

  Position: relative;
  right: 3%;
color: white;
font-size: 18pt;
text-shadow: 1px 1px black;
text-align: center;
text-shadow: 1px 1px black;
margin-bottom: 0px;
}
#az-flag-img{
  display: none;

}

#jQueryDiv {


  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 20%;
  text-align: center;
  height: 40%;
  min-height: 300px;
  color:white;
  font-weight: bold;
  /* -webkit-text-stroke: 1px white; */
  /* border: solid 2px black; */
  
  /* background-color:rgba(17, 68, 83, 0.63); */
  /* background-color:rgba(24, 160, 194, 0.9); */
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.header{

  text-align: center;
  background-color:rgba(226, 136, 17, 0.8);
  /* padding-bottom: 1px; */
  /* padding-top: 1px; */
  color: blue;
  -webkit-text-stroke: 1px black;
  font-size: 16pt;
  font-family: 'Permanent Marker', cursive;
  position: relative;
  /* min-width: 800px; */


 
}





}